In [82]:
import pandas as pd
import numpy as np

In [83]:
hair_color = np.array(['blonde', 'brunette', 'red', 'black', 'brunette', 'black', 'red', 'black'])
eye_color = np.array(['amber', 'gray', 'green', 'hazel', 'amber', 'gray', 'green', 'hazel'])
skin_color = np.array(['fair', 'brown', 'brown', 'brown', 'fair', 'brown', 'fair', 'fair'])
person = ['P1','P2','P3','P4','P5','P6','P7','P8']
data = pd.DataFrame({'person':person, 'hair_color':hair_color, 'eye_color':eye_color, 'skin_color':skin_color})
data

  person hair_color eye_color skin_color
0     P1     blonde     amber       fair
1     P2   brunette      gray      brown
2     P3        red     green      brown
3     P4      black     hazel      brown
4     P5   brunette     amber       fair
5     P6      black      gray      brown
6     P7        red     green       fair
7     P8      black     hazel       fair

In [84]:
def find_distance(cluster, point):
    dist = 0
    for i in range(len(cluster)):
        if cluster[i] != point[i]:
            dist += 1
    return dist

def find_closest_cluster(point, clusters):
    distances = []
    for cluster in clusters:
        distances.append(find_distance(cluster, point))
    return distances.index(min(distances))


def find_mode(points):
    
    new_cluster = []
    for i in range(len(points[0])):
        freq_map = {}
        for j in range(len(points)):
            if points[j][i] in freq_map:
                freq_map[points[j][i]] += 1
            else:
                freq_map[points[j][i]] = 1
        
        new_cluster.append(max(freq_map, key = freq_map.get))  
        
    return new_cluster

In [85]:
cluster1 = data.loc[data["person"] == "P1"]
cluster2 = data.loc[data["person"] == "P7"]
cluster3 = data.loc[data["person"] == "P8"]

cluster1 = cluster1.drop("person", axis = 1).values.flatten().tolist()
cluster2 = cluster2.drop("person", axis = 1).values.flatten().tolist()
cluster3 = cluster3.drop("person", axis = 1).values.flatten().tolist()

In [86]:
clusters = [cluster1, cluster2, cluster3]

In [87]:
data = data.drop("person", axis = 1)

In [88]:
for row in data.values:
    print(find_closest_cluster(row, clusters) + 1)
    print("-----------")

1
-----------
1
-----------
2
-----------
3
-----------
1
-----------
3
-----------
2
-----------
3
-----------

In [89]:
update_clusters(clusters, data.values)

[['brunette', 'amber', 'fair'],
 ['red', 'green', 'brown'],
 ['black', 'hazel', 'brown']]

In [90]:
def k_modes(data, k, clusters, num_itrs):
    for i in range(num_itrs):
        print("Iteration: ", i+1)
        print("Clusters: ", clusters)
        print("+++++++++++++++")
        for row in data.values:
            print(row)
            print("Cluster Assigned: ", find_closest_cluster(row, clusters) + 1)
            print("-----------")
        clusters = update_clusters(clusters, data.values)
        print()
        print()

In [91]:
k_modes(data, 3, clusters, 3)

Iteration:  1
Clusters:  [['blonde', 'amber', 'fair'], ['red', 'green', 'fair'], ['black', 'hazel', 'fair']]
+++++++++++++++
['blonde' 'amber' 'fair']
Cluster Assigned:  1
-----------
['brunette' 'gray' 'brown']
Cluster Assigned:  1
-----------
['red' 'green' 'brown']
Cluster Assigned:  2
-----------
['black' 'hazel' 'brown']
Cluster Assigned:  3
-----------
['brunette' 'amber' 'fair']
Cluster Assigned:  1
-----------
['black' 'gray' 'brown']
Cluster Assigned:  3
-----------
['red' 'green' 'fair']
Cluster Assigned:  2
-----------
['black' 'hazel' 'fair']
Cluster Assigned:  3
-----------


Iteration:  2
Clusters:  [['brunette', 'amber', 'fair'], ['red', 'green', 'brown'], ['black', 'hazel', 'brown']]
+++++++++++++++
['blonde' 'amber' 'fair']
Cluster Assigned:  1
-----------
['brunette' 'gray' 'brown']
Cluster Assigned:  1
-----------
['red' 'green' 'brown']
Cluster Assigned:  2
-----------
['black' 'hazel' 'brown']
Cluster Assigned:  3
-----------
['brunette' 'amber' 'fair']
Cluster Assigned:  1
-----------
['black' 'gray' 'brown']
Cluster Assigned:  3
-----------
['red' 'green' 'fair']
Cluster Assigned:  2
-----------
['black' 'hazel' 'fair']
Cluster Assigned:  3
-----------


Iteration:  3
Clusters:  [['brunette', 'amber', 'fair'], ['red', 'green', 'brown'], ['black', 'hazel', 'brown']]
+++++++++++++++
['blonde' 'amber' 'fair']
Cluster Assigned:  1
-----------
['brunette' 'gray' 'brown']
Cluster Assigned:  1
-----------
['red' 'green' 'brown']
Cluster Assigned:  2
-----------
['black' 'hazel' 'brown']
Cluster Assigned:  3
-----------
['brunette' 'amber' 'fair']
Cluster Assigned:  1
-----------
['black' 'gray' 'brown']
Cluster Assigned:  3
-----------
['red' 'green' 'fair']
Cluster Assigned:  2
-----------
['black' 'hazel' 'fair']
Cluster Assigned:  3
-----------

In [92]:
 
def update_clusters(clusters, points):
    new_clusters = []
    temp = [[] for i in range(len(clusters))]
    for point in points:
        idx = find_closest_cluster(point, clusters)
        temp[idx].append(point)
        
    for points in temp:
        new_clusters.append(find_mode(points))
    
    return new_clusters